



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#66757F;">
<br><br><br>
<div class="container">

    <div style="margin-top: 15px" align="center">
        </br>
        <a style="font-size: xx-large" href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-shopping-cart"></span> Product Details Information
        </a>
    </div>
    <hr>
    <br>    <br>    <br>

    <form th:action="@{/auth/product/save}"
          th:object="${photo}" method="post"
          enctype="multipart/form-data">

        <tr th:each="photo : ${listall}">



    <div class="container-fluid">


        <div class="row" >

            <div class="col-sm-6" style="background-color:#ffffff4f;border-radius: 16px">

                <div class="container" >
                    <br>
                    <h6 style="font-size: x-large">Product Image:</h6>
                    <hr>

                    <div class="card" style="background-color:#ffffff4f;">
                        <div class="card-body text-center">
                            <td><img height="250px" width="80%" th:src="@{${photo.UserImagePath}}"/></td>

                        </div>
                    </div>
                </div>
                <br>

            </div>



            <div class="col-sm-6" style="background-color:#ffffff;border-radius: 16px">

                <div class="row" style="">


                    <div class="col-sm-2" style="background-color:#ffffff;border-radius: 12px">

                    </div>

                    <div class="col-sm-8" style="background-color:#ffffff;">
                    <br>


               <h6> Product Name:</h6>
                <td th:text="${photo.Name}">Product Name</td>
                <hr>

                        <h6> Product Category:</h6>
                <td th:text="${photo.category}">Product Category</td>
                <hr>
                        <h6> Product Description:</h6>
                <td th:text="${photo.description}">Product Description</td>
                <hr>
                       <h6> Available Quantity:</h6>
                        <td th:text="${photo.quantity}">Product Quantity</td>
                <hr>


                        <h6> Product Price:</h6>
                        <td th:text="${photo.price}">Product Price</td>











                    <div style="margin-top: 15px" align="center">
                      </br>
                        <a th:href="@{/auth/ordernow/id(id=${photo.id})}" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Order Now!!

                        </a>



                    </div>
                        <hr>
                        <br>

                    </div>



            </div>


        </div>


        </div>
    </div>
        </tr>
    </form>
</div>

</body>
</html>
